<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WatchFree | Movie web</title>

    <link rel="shortcut icon" href="~/img/Images/logo-foursquare.svg">

    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/component.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/grid.css">
    <link rel="stylesheet" href="~/Content/Login.css" />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Open+Sans:ital,wght@0,400;1,300&family=Playfair+Display:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Shizuru&display=swap" rel="stylesheet">

    <!-- LINK CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <!-- BOX ICON  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="~/themify-icons/themify-icons.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!-- NAV -->

    <div class="menu-tablet" id="menu-tablet">
        <ul class="menu-tb-list">
            <li>
                <a href="#">
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    Genre
                </a>
            </li>
            <li>
                <a href="#">
                    Country
                </a>
            </li>
            <li>
                <a href="#">
                    Film Style
                </a>
            </li>
            <li>
                <a href="#">
                    Setting
                </a>
            </li>

            <li>
                <a href="#">
                    Account
                </a>
            </li>

        </ul>
    </div>


    <div class="navigation">
        <ul>
            <li class="item active">
                <a>
                    <span class="icon"><i class='bx bx-home-circle'></i></span>
                    <span class="text">Home</span>
                </a>
            </li>


            <li class="item">
                <a>
                    <span class="icon"><ion-icon name="film-genre"></ion-icon></span>
                    <span class="text">Genre</span>
                </a>
            </li>

            <li class="item">
                <a>
                    <span class="icon"><ion-icon name="globe-outline"></ion-icon></span>
                    <span class="text">Country</span>
                </a>
            </li>

            <li class="item">
                <a>
                    <span class="icon"><i class='bx bx-user'></i></span>
                    <span class="text">Profile</span>
                </a>
            </li>

            <li class="item">
                <a>
                    <span class="icon"><i class='bx bx-cog'></i></span>
                    <span class="text">Setting</span>
                </a>
            </li>
        </ul>
    </div>


    <div class="progress-bar" id="progress-bar">
        <a href="#" id="progress-val">
            <ion-icon name="logo-foursquare"></ion-icon>
        </a>
    </div>

    <div class="container">
        <div class="nav">
            <a href="https://localhost:44337/WebPhim/Index#" class="logo">
                <i style="margin-right: 10px;" class='bx bx-movie-play bx-tada main-color'></i>Watch<span class="main-color">Free</span>
            </a>

            <form action="" class="search-box">
                <input type="text" name="search" placeholder="Seach Your Movie ....." class="nav-search">
                <button type="password">
                    <i class='bx bx-search-alt'></i>
                </button>
            </form>

            <div class="nav-sign">
                <a href="#" class="btn btn-hover">
                    <span>Sign in</span>
                </a>

            </div>
            <div class="menu-toggle">
                <ion-icon name="menu-outline" class="open"></ion-icon>
                <ion-icon name="close-outline" class="close"></ion-icon>


            </div>
        </div>
    </div>


    <div class="nav-wrapper">
        <ul style="display: inline-block;" class="nav-menu" id="nav-menu">
            <li class="nav-item active">
                <a href="#">
                    <span class="nav-icon"><ion-icon name="home-outline"></ion-icon></span>
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a href="#">
                    <span class="nav-icon"><ion-icon name="grid-outline"></ion-icon></span>
                    Genre
                </a>

                @Html.Action("Genre", "WebPhim")
            </li>

            <li class="nav-item">
                <a href="#">
                    <span class="nav-icon"><ion-icon name="globe-outline"></ion-icon></span>
                    Country
                </a>

                @Html.Action("QuocGia", "WebPhim")
            </li>

            <li class="nav-item">
                <a href="#">
                    <span class="nav-icon"><ion-icon name="film-outline"></ion-icon></span>
                    Film Tyle
                </a>
                <ul class="sub-nav">
                    <li><a href="#">Series movie</a></li>
                    <li><a href="#">Short movie</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#">
                    <span class="nav-icon"><ion-icon name="settings-outline"></ion-icon></span>
                    Setting
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span class="nav-icon"><ion-icon name="chatbubbles-outline"></ion-icon></span>
                    Messages
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span class="nav-icon"><ion-icon name="help-circle-outline"></ion-icon></span>
                    About
                </a>
            </li>

            <li class="nav-item">
                <a href="#">
                    <span class="nav-icon"><ion-icon name="person-outline"></ion-icon></span>
                    Account
                </a>
            </li>
        </ul>
    </div>
    <!--END NAV -->
    <!-- SLIDE SECTION -->
    <div style="top:1000px" class="big-section" id="big-section">
        <!-- BIG SLIDES -->
        <div class="slide-container" id="big-slider">

            <div style=" border: none" class="big-slide-item active">

            </div>


        </div>
    </div>

    <!--END SLIDE SECTION -->
    <!-- LATEST SECTION -->
    <!-- END LATEST SECTION -->

    <footer class="footer ">
        <div class="section-wrapper">
            <div class="row ">
                <div class="col-6 footer-header">
                    <a href="#" class="logo">
                        <i style="margin-right: 10px;" class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
                    </a>

                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quas, possimus eius. Deserunt non odit, cum vero reprehenderit
                        laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium,
                        facere ab suscipit.
                    </p>
                    <div class="social-list">
                        <a href="#" class="social-item">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-instagram"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-twitter"></i>
                        </a>
                    </div>
                </div>

                <div class="col-12 footer-item">
                    <div class="row">
                        <div class="col-4 align-items-center">
                            <div class="content">
                                <p class="main-color" style="font-size: 1.2rem;"><b>Flix</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#"> About us</a></li>
                                    <li><a href="#"> My profile</a></li>
                                    <li><a href="#"> Pricing plans</a></li>
                                    <li><a href="#"> Contacts</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-4 align-items-center">
                            <div class="content">
                                <p class="main-color" style="font-size: 1.2rem;"><b>Browse</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#">Live TV</a></li>
                                    <li><a href="#">Live Movies</a></li>
                                    <li><a href="#">Live Series</a></li>
                                    <li><a href="#">Streaming Library</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-4 align-items-center">
                            <div class="content">
                                <p class="main-color" style="font-size: 1.2rem;"><b>Help</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#">Account & Billing</a></li>
                                    <li><a href="#">Plans & Pricing</a></li>
                                    <li><a href="#">Supported devices</a></li>
                                    <li><a href="#">Accessibility</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="~/Scripts/main.js"></script>
        </div>
    </footer>

</body>
</html>
